@{
    ViewBag.Title = "报名页面";
}

<h2>@ViewBag.Title</h2>

@{
    <div class="col-lg-9">
        @Html.Action("Records")
    </div>
    <div class="col-lg-3">
        @Html.Action("Account")
    </div>
}
<!--
<p id="time"></p>
<button id="button" type="button" onclick="EnableAjaxLoad()" class="btn btn-success">启用自动刷新</button>
    -->
<div id="matches">
    @Html.Action("Matches")
</div>
@{
    if (!string.IsNullOrEmpty(ViewBag.ErrorInfo))
    {
        <script>
            alert("@ViewBag.ErrorInfo");
        </script>
    }
}
<!--
<script>
    function LoadAction() {
        var time = new Date();
        $.ajax({
            type: "GET",
            url: '@Url.Action("Matches", "Test")',
            data: { },
            datatype: "json",
            success: function (data) {
                $('#matches').html(data);
                $('#time').html(new Date().toLocaleTimeString());
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }

        });
    }
    function EnableAjaxLoad() {
        setInterval(LoadAction, 1000);
        document.getElementById("button").class = "btn btn-default";
        document.getElementById("button").onclick="DisableAjaxLoad()"
        }
    function DisableAjaxLoad(){
        clearInterval();
        document.getElementById("button").class = "btn btn-success";
        document.getElementById("button").onclick = "EnableAjaxLoad()"
    }
</script>
    -->
