@model IEnumerable<LST.Models.TestViewModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            场次
        </th>
        <th>
            开始报名时间
        </th>
        <th>
            结束报名时间
        </th>
        <th>
            成绩
        </th>
        <th>
            操作
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.StartTime
        </td>
        <td>
            @item.EndTime
        </td>
        <td>
            @item.Score
        </td>
        <td>
            @if (item.Enabled)
            {
                @Html.ActionLink("取消报名", "Quit", new { id = item.Id }, new { @class = "btn btn-danger" })
            }
        </td>
    </tr>
}

</table>
