@model Manager.Models.ManagerTableHelper.ManageTable
@{
    Layout = null;
}

@if (Model == null)
{
    <h3>无可用的值班表，请检查可值班时间表。</h3>
}
else
{
    <div>
        <table class="table table-bordered">
            <tr>
                <th>值班员</th>
                <th>最小</th>
                <th>当前</th>
                <th>最大</th>
                <th>可安排</th>
                <th>值班员</th>
                <th>最小</th>
                <th>当前</th>
                <th>最大</th>
                <th>可安排</th>
                <th>值班员</th>
                <th>最小</th>
                <th>当前</th>
                <th>最大</th>
                <th>可安排</th>
            </tr>
            @{
                var managerList = ViewBag.ManagerList as List<Manager.Models.Manager>;
                bool usable = false;
                int count = 0;
                Manager.Models.Manager manager;
                for (int i = 0; i <= managerList.Count / 3; i++)
                {
                    int index = i * 3;
                    <tr>
                        @for (int j = index; j < index + 3; j++)
                    {
                        if (j < managerList.Count)
                        {
                            manager = managerList[j];
                            count = Model.GetManagerManageTable(manager).Count;
                            usable = count >= manager.MinCount && count <= manager.MaxCount;
                            if (usable)
                            {
                                    <td class="success">@manager.Name</td>
                                    <td class="success">@manager.MinCount</td>
                                    <td class="success">@count</td>
                                    <td class="success">@manager.MaxCount</td>
                                    <td class="success" id="@manager.Name">@(manager.MaxCount - count)</td>
                                }
                                else
                                {
                                    <td class="warning">@manager.Name</td>
                                    <td class="warning">@manager.MinCount</td>
                                    <td class="warning">@count</td>
                                    <td class="warning">@manager.MaxCount</td>
                                    <td class="warning" id="@manager.Name">@(manager.MaxCount - count)</td>
                                }
                            }
                            
                        }
                    </tr>
                }
            }
            <tfoot>
                <tr>
                    数据统计
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <table class="table table-bordered" align="center">
            <tr>
                <th align="center">星期一</th>
                <th align="center">星期二</th>
                <th align="center">星期三</th>
                <th align="center">星期四</th>
                <th align="center">星期五</th>
                <th align="center">星期六</th>
                <th align="center">星期日</th>
            </tr>
            @for (int i = 1; i <= 7; i++)
            {
                <tr>
                    <td>@(Model[10 + i].Manager == null ? "" : Model[10 + i].Manager.Name + Model.GetManagerManageTable(Model[10 + i].Manager).Count)</td>
                    <td>@(Model[20 + i].Manager == null ? "" : Model[20 + i].Manager.Name + Model.GetManagerManageTable(Model[20 + i].Manager).Count)</td>
                    <td>@(Model[30 + i].Manager == null ? "" : Model[30 + i].Manager.Name + Model.GetManagerManageTable(Model[30 + i].Manager).Count)</td>
                    <td>@(Model[40 + i].Manager == null ? "" : Model[40 + i].Manager.Name + Model.GetManagerManageTable(Model[40 + i].Manager).Count)</td>
                    <td>@(Model[50 + i].Manager == null ? "" : Model[50 + i].Manager.Name + Model.GetManagerManageTable(Model[50 + i].Manager).Count)</td>
                    <td>
                        @if (i != 1)
                    {
                            @(Model[60 + i - 1].Manager == null ? "" : Model[60 + i - 1].Manager.Name + Model.GetManagerManageTable(Model[60 + i - 1].Manager).Count)
                        }
                    </td>
                    <td>
                        @if (i != 1)
                    {
                            @(Model[70 + i - 1].Manager == null ? "" : Model[70 + i - 1].Manager.Name + Model.GetManagerManageTable(Model[70 + i - 1].Manager).Count)
                        }
                    </td>
                </tr>
            }
            <tfoot>
                <tr>
                    效用试算值： @Model.Happiness 可用性： @Model.Usable
                </tr>
            </tfoot>
        </table>
    </div>
                }
