@model IEnumerable<Manager.Models.AvailableTime>

@{
    Layout = null;
    ViewBag.MinAvailableTimeCount = ViewBag.MinAvailableTimeCount ?? 0;
}

<div class="text-center">
    @if (ViewBag.Available == true)
    {
        <h3>列表管理 <span class="label label-success">正常</span></h3>
    }
    else
    {
        <h3>列表管理 <span class="label label-warning">@Model.Count()/@ViewBag.MinAvailableTimeCount</span></h3>
    }
</div>

<table class="table" align="center">
    <tr>
        <th>
            时间
        </th>
        <th>
            优先级
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.Demand == Manager.Models.DemandType.First)
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.TimeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Demand)
                </td>
                <td>
                    <a onclick="edit('@item.AvailableTimeId')" class="btn-sm btn-warning">编辑</a>
                    @Html.ActionLink("删除", "Delete", new { id = item.AvailableTimeId }, new { onclick = "deleteConfirm()", @class = "btn-sm btn-danger" })
                </td>
            </tr>
        }
        else if (item.Demand == Manager.Models.DemandType.Second)
        {
            <tr class="active">
                <td>
                    @Html.DisplayFor(modelItem => item.TimeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Demand)
                </td>
                <td>
                    <a onclick="edit('@item.AvailableTimeId')" class="btn-sm btn-warning">编辑</a>
                    @Html.ActionLink("删除", "Delete", new { id = item.AvailableTimeId }, new { onclick = "deleteConfirm()", @class = "btn-sm btn-danger" })
                </td>
            </tr>
        }
        else
        {
            <tr class="warning">
                <td>
                    @Html.DisplayFor(modelItem => item.TimeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Demand)
                </td>
                <td>
                    <a onclick="edit('@item.AvailableTimeId')" class="btn-sm btn-warning">编辑</a>
                    @Html.ActionLink("删除", "Delete", new { id = item.AvailableTimeId }, new { onclick = "deleteConfirm()", @class = "btn-sm btn-danger" })
                </td>
            </tr>
        }
    }
    <tr>
        <td>
            <a onclick="create()" class="btn-sm btn-success">添加</a>
        </td>
        <td></td>
        <td></td>
    </tr>
</table>