@model IEnumerable<Manager.Models.Manager>

@{
    ViewBag.Title = "时长统计";
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

<table class="table table-bordered" align="center">
    <tr>
        <th>
            名称
        </th>
        <th>
            每周最少值班数
        </th>
        <th>
            每周最大值班数
        </th>
        <th>
            可值班时间数
        </th>
        <th>
            最小可值班时间数检查
        </th>
        <th>
            最小早班可值班事件数检查
        </th>
        <th>
            最小工作日可值班时间数检查
        </th>
        <th>
            查看可值班时间表
        </th>
    </tr>

@foreach (var item in Model)
{
    if (!item.CheckAvailableTime())
    {
        <tr class="warning">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableTimes.Count)
            </td>
            <td>
                @item.MinAvailableTimeCheck()
            </td>
            <td>
                @item.MinFirstClassCheck()
            </td>
            <td>
                @item.MinWorkDayCheck()
            </td>
            <td>
                @Html.ActionLink("查看", "Show", new { managerName = item.Name }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableTimes.Count)
            </td>
            <td>
                @item.MinAvailableTimeCheck()
            </td>
            <td>
                @item.MinFirstClassCheck()
            </td>
            <td>
                @item.MinWorkDayCheck()
            </td>
            <td>
                @Html.ActionLink("查看", "Show", new { managerName = item.Name }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }
}

</table>
